[submodule "vendor/django-debug-toolbar"]
	path = vendor/django-debug-toolbar
	url = git://github.com/robhudson/django-debug-toolbar.git
[submodule "vendor/django-extensions"]
	path = vendor/django-extensions
	url = git://github.com/django-extensions/django-extensions.git
[submodule "vendor/django-grappelli"]
	path = vendor/django-grappelli
	url = https://github.com/sehmaschine/django-grappelli.git
[submodule "vendor/django"]
	path = vendor/django
	url = git://github.com/django/django.git
[submodule "vendor/django-dbsettings"]
	path = vendor/django-dbsettings
	url = git://github.com:helber/django-dbsettings.git
[submodule "vendor/django-tastypie"]
	path = vendor/django-tastypie
	url = https://github.com/toastdriven/django-tastypie.git
