*.bak
.project
.pydevproject
.settings
/site_gerencia/media/imgs/canal/logo
*.pyc
banco.sqlite3
*.swp
/*.komodoproject
/site_gerencia/static
/site_gerencia/media/videos
/site_gerencia/.settings*
/site_gerencia/tvfiles
