<html>
<head>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/extcore/ext-core.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/Browser.key.js"></script>
<!--  >script type="text/javascript" src="list.js"></script  -->
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/ExceptionHandler.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/player.js"></script>
<link type="text/css" href="{{ MEDIA_URL }}box/css/jsplay.css" rel="stylesheet" />
<script type="text/javascript">
var MEDIA_URL = '{{ MEDIA_URL }}';
</script>
</head>
<body id="body">
<div id="msg">Iniciado - Buscando midias</div>
<div id="an"></div>
<div id="mediainfo"></div>
<div id="movies"></div>
</body>
</html>