<html>
<head>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/extcore/ext-core.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/Browser.key.js"></script>
<!--  >script type="text/javascript" src="list.js"></script  -->
<script type="text/javascript" src="{{ MEDIA_URL }}box/js/lib/player.js"></script>
<link type="text/css" href="{{ MEDIA_URL }}box/css/jsplay.css" rel="stylesheet" />
</head>
<body id="body">
<div id="msg">Iniciado - Buscando midias</div>
<div id="an"></div>
<div id="mediainfo">
  <div class="title">Informações:</div>
  <div class="label">ID:</div>
  <div id="movieid"></div>
  <div class="label">Nome:</div>
  <div id="moviename"></div>
  <div class="label">Servidor:</div>
  <div id="moviehost"></div>
  <div class="label">Porta:</div>
  <div id="movieport"></div>
</div>
<div id="movies"></div>
</body>
</html>