{% extends "admin/change_form.html" %}

{% block extrahead %}

	{{ block.super }}
	
	<script type="text/javascript">
		django.jQuery(document).ready(function () {
			populate_adapters();
			/* Make the free devices field read-only */
			django.jQuery('input#id_free_adapters').attr("readonly", "readonly");
			/* Insert the auto-fill hyperlink */
			{% url device.views.auto_fill_tuner_form ttype='isdb' as the_url %}
			var hyperlink = django.jQuery('<br /><a href="{{ the_url }}">( Auto preencher )</a>');
			hyperlink.appendTo(django.jQuery('div.form-row.frequency p.help'));
			/* Insert the onchange callbacks */
			hyperlink.click( function () {
				return showAutoFillPopup(this);
			});
			django.jQuery('select#id_server').change( function() {
				populate_adapters();
			});
		});
		/* Get number of free adapters */ 
		function populate_adapters()
		{
			var server_id = django.jQuery('select#id_server').val();
			var field = django.jQuery('input#id_free_adapters');
			field.attr("disabled", "disabled");
			field.empty();
			if (server_id) {
				var query =  '{% url device.views.get_isdb_tuners %}' + '?server=' + server_id;
				var tuner = "{{ original.pk }}";
				if (tuner) {
					query += '&tuner=' + tuner;
				}
				django.jQuery.get(query, function(data) {
					if (data)
						field.val(data);
			        field.removeAttr("disabled");
			  	});
		    }
		}
		
		function showAutoFillPopup(link)
		{
			var win = window.open(link, 'name', 'height=370,width=400,resizable=yes,scrollbars=yes');
			win.focus(); 
			return false;
		}
		
		function dismissAutoFillPopup(win, freq)
		{
			django.jQuery('input#id_frequency').val(freq);
			win.close();
		}
	</script>
	
{% endblock %}
