{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Relatório de SetTopBoxes' %}
</div>
{% endblock %}

{% block extrahead %}
    <style>
        p.titles {
            font-weight: bold;
            margin-top: 10px;
        }
        table tbody {
            background-color: #f5f5f5;
        }
        table tbody tr td{
            border: 1px solid #ccc;
        }
    .clear {
        clear: both;
        margin-bottom: 10px;
    }
    .blocks div {
        float: left;
        margin-right: 30px;
    }
    </style>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>{% trans 'Quantidade de Assinantes' %}</th>
                <th>{% trans 'Quantidade de Assinantes Principais' %}</th>
                <th>%</th>
                <th>{% trans 'Quantidade de Assinantes Secundários' %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stbs_total }}</td>
                <td>{{ stbs_principal.total }}</td>
                <td>{{ stbs_principal.percent|floatformat:"2" }}</td>
                <td>{{ stbs_secondary.total }}</td>
                <td>{{ stbs_secondary.percent|floatformat:"2" }}</td>
            </tr>
        </tbody>
    </table>
    <div class="blocks">
        <div>
            <p class="titles">Dados de cobrança TV linear</p>
            <table>
                <thead>
                    <tr>
                        <th>{% trans 'Planos' %}</th>
                        <th>{% trans 'Quantidade de Assinantes' %}</th>
                        <th>{% trans 'Total' %}</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan, values in plans.items %}
                        <tr>
                            <td>{{ plan }}</td>
                            <td>{{ values.stbs }}</td>
                            <td>R$ {{ values.stbs_value|default:'00,00' }}</td>
                            <td>{{ values.stbs_percent|floatformat:"2" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <p class="titles">Dados de cobrança TVoD</p>
            <table>
                <thead>
                    <tr>
                        <th>{% trans 'Planos' %}</th>
                        <th>{% trans 'Quantidade de STBs com TVoD' %}</th>
                        <th>{% trans 'Total' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan, values in plans.items %}
                        <tr>
                            <td>{{ plan }}</td>
                            <td>{{ values.tvod }}</td>
                            <td>R$ {{ values.tvod_value|default:'00,00' }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
    <p class="titles">Total</p>
    <table>
        <thead>
            <tr>
                <th>{% trans 'Valor total TV linear' %}</th>
                <th>{% trans 'Valor total TVoD' %}</th>
                <th>{% trans 'Valor total' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>R$ {{ stbs_value }}</td>
                <td>R$ {{ tvods_value }}</td>
                <td>R$ {{ total_value }}</td>
            </tr>
        </tbody>
    </table>
    <br />
    <button onclick="window.location.href='{% url 'stbs_report_xls' %}'">exportar</button>
{% endblock %}