{% extends "admin/change_form.html" %}
{% load url from future %}

{% block extrahead %}

    {{ block.super }}

    <script type="text/javascript">
        django.jQuery(document).ready(function () {
            populate_interfaces();
            /* Insert the onchange callbacks */
            django.jQuery('select#id_server').change(populate_interfaces);
        });
        /* Get network adapters list from server and populate the select field */ 
        function populate_interfaces()
        {
            var server_id = django.jQuery('select#id_server').val();
            var field = django.jQuery('select#id_interface');
            field.attr("disabled", "disabled");
            field.empty();
            if (server_id) {
                var query = '{% url 'device.views.server_list_interfaces' %}' + '?server=' + server_id;
                django.jQuery.get(query, function(data) {
                    if (data) {
                        field.append(data);
                        var iface = "{{ original.interface.pk }}";
                        if (iface)
                            field.val(iface);
                    }
                    field.removeAttr("disabled");
                });
            }
        }
    </script>

{% endblock %}
