[mysqld]
default-storage-engine=innodb
pid-file        = /var/lib/mysql/mysqld.pid
socket          = /var/lib/mysql/mysql.sock
#port            = 3306
datadir         = /iptv/var/lib/mysql
tmpdir          = /tmp

character-set-server=utf8
collation-server=utf8_general_ci
init-connect='SET NAMES utf8'

skip-networking
skip-name-resolve


[mysql.server]
socket          = /var/lib/mysql/mysql.sock
user=mysql
# basedir=/var/lib

[mysqld_safe]
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/lib/mysql/mysqldsafe.pid

[client]
#port=3306
socket           = /var/lib/mysql/mysql.sock
default-character-set=utf8

