<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
		<script type="text/javascript">
			django.jQuery(document).ready(function() {
				populate_cities();
				populate_channels();
				preview_values();

				django.jQuery('select#id_state').change(populate_cities);
				django.jQuery('select#id_city').change(populate_channels);
				django.jQuery('select#id_chan').change(preview_values);
			});
			
			function populate_cities()
			{
				var state = django.jQuery('select#id_state').val();
				
				if (state) {
					django.jQuery('select#id_city').attr("disabled", "disabled");
					django.jQuery(':submit').attr("disabled", "disabled");
					var query =  "{% url dvbinfo.views.get_cities %}?state=" + state;
					django.jQuery.getJSON(query, function(data) {
						django.jQuery('select#id_city').empty();
						django.jQuery('select#id_city').append('<option>---</option>');
						django.jQuery.each(data, function(key, value) {
				        	var option = '<option value="' + value.pk + '">' + value.fields.name + '</option>'; 
				        	django.jQuery('select#id_city').append(option);
				        });
						django.jQuery('select#id_city').removeAttr("disabled");
				        django.jQuery(':submit').removeAttr("disabled");
					});
				}
			}
			
			function populate_channels()
			{
				var city = django.jQuery('select#id_city').val();
				
				if (city) {
					django.jQuery('select#id_chan').attr("disabled", "disabled");
					django.jQuery(':submit').attr("disabled", "disabled");
					var query =  "{% url dvbinfo.views.get_isdb_channels %}?city=" + city;
					django.jQuery.getJSON(query, function(data) {
						django.jQuery('select#id_chan').empty();
						django.jQuery('select#id_chan').append('<option>---</option>');
						django.jQuery.each(data, function(key, value) {
				        	var option = '<option value="' + value.pk + '">' + value.fields.name + '</option>'; 
				        	django.jQuery('select#id_chan').append(option);
				        });
						django.jQuery('select#id_chan').removeAttr("disabled");
				        django.jQuery(':submit').removeAttr("disabled");
					});
				}
			}
			
			function preview_values()
			{
				var chan = django.jQuery('select#id_chan').val();
				
				if (chan) {
					django.jQuery(':submit').attr("disabled", "disabled");
					var query =  "{% url dvbinfo.views.get_isdb_channel %}?chan=" + chan;
					django.jQuery.getJSON(query, function(data) {
						django.jQuery('input#id_freq').val(data.frequency);
						django.jQuery(':submit').removeAttr("disabled");
					});
				}
			}
		</script>
		
		<title>Selecione o Estado/Cidade e o canal desejado</title>
	</head>
	<body>
		<form action="" method="post">{% csrf_token %}
			
			<fieldset class="module aligned ">
				
				<h2>Selecione o Estado/Cidade e o canal desejado</h2>
	    		
	    		{% for field in fields %}
	    			<div class="form-row">
		    			<div>
					        <label>{{ field.label }}:</label>
					        {{ field }}
				        </div>
	    			</div>
	    		{% endfor %}
			
			</fieldset>
			
			<div class="submit-row">
				<input class="default" type="submit" value="OK" />
			</div>
		</form>
	</body>
</html>
