{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url admin:index %}">
{% trans "Home"%}</a> &rsaquo; {% trans "Monitoramento" %}</div>{% endblock %}

{% block content %}
<div>
<h2>Arvore de canais</h2>
{% for root in root_graph %}
    <div>
       <img src="{{ MEDIA_URL }}mon/roots/{{ root }}">
    </div>
    <BR/>
{% endfor %}
</div>

{% for server in mon_servers %}
<div>
    <div>
    {% if server.status %}
       <img alt="{{ server.name }}" src="{{ STATIC_URL }}admin/img/green.gif">
    {% else %}
       <img alt="{{ server.name }}" src="{{ STATIC_URL }}admin/img/red.gif">
    {% endif %}
    </div>
    <div>Servidor: <strong>{{ server.name }}</strong></div>
    <div>Host: <strong>{{ server.host }}</strong></div>
    <div>STATIC: <strong>{{ STATIC_URL }}</strong></div>
    <div>Status: 
    {% if server.status %}
        <strong>
            Monitoramento ativo a 
            {% if server.status.0 %}
                {{ server.status.0 }} dia(s) 
            {% endif %}
            {{ server.status.1 }}hs
        </strong>
    {% else %}
        <strong style="color: red;">
        Indispon&iacute;vel!!!</strong><BR />
    {% endif %}
    </div>
</div>
{% endfor %}

<BR /><BR /><BR /><BR />
<div>
{% for channel in channel_list %}
    <div>
    <div class="channel_label">Canal: <strong>{{ channel.name }} - {{ channel.number }}</strong><div>
    {{ channel.html_tree|safe }}
    </div>
{% endfor %}
</div>

{% endblock %}
