{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url admin:index %}">
{% trans "Home"%}</a> &rsaquo; {% trans "Monitoramento" %} &rsaquo; <a href="{% url admin:mon_dashboard %}">{% trans "Dashboard" %}</a>
</div>{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
    <table>
    <caption>Dashboard de monitoramento</caption>
        <tr>
            <th scope="row">
            <a href="{% url admin:mon_channel_tree %}">&Aacute;vore de canais
            simples</a>
            </th>
            <td>&nbsp;</a></td>
            <td>&nbsp;</a></td>
        </tr>
        <tr>
            <th scope="row">
            <a href="{% url admin:mon_channel_tree_status %}">&Aacute;vore de
            canais completa (Mostranto estado dos servi&ccedil;os)</a>
            </th>
            <td>&nbsp;</a></td>
            <td>&nbsp;</a></td>
        </tr>

        <tr>
            <th scope="row">
            <a href="{% url admin:mon_export %}">Exportar configura&ccedil;&otilde;es de monitoramento</a>
            </th>
            <td>&nbsp;</a></td>
            <td>&nbsp;</a></td>
        </tr>

{% for server in monitoring_servers %}
        <tr>
            <th scope="row">
            <a href="http://{{ server.http_username }}:{{ server.http_password }}@{{ server.host }}:{{ server.http_port }}/nagios/" target="_blank">Acessar o servidor de monitoramento ({{ server.host }})</a>
            </th>
            <td>&nbsp;</a></td>
            <td>&nbsp;</a></td>
        </tr>
{% endfor %}


    </table>
    </div>
</div>


{% endblock %}
