.canais {
	padding: 3px;
}

.canal {
	border: 1px solid gray;
	padding: 5px;
	margin-bottom: 5px;
	height: 120px;
}

.canal .infos {
	position: absolute;
	left: 130px;
	right: 20px;
}

.canal .infos div {
	border-bottom: 1px solid gray;
}

.logo {
	float: left;
}

.error {
	font-weight: bolder;
	color: red;
}

.fielderror {
	font-weight: bolder;
	color: red;
}