{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/tv/administracao/">{% trans 'Home' %}</a>
&rsaquo; <a href="">Tv</a>
&rsaquo; {% if has_change_permission %}<a href="">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
	django.jQuery(document).ready(function() {
		populate_interfaces();
		// populate_channels();
		/* Insert the onchange callbacks */
		django.jQuery('select#id_0-input_types_field').change(populate_interfaces);
		django.jQuery('select#id_0-input_stream').change(populate_demux);
		// django.jQuery('select#id_0-input_satellite').change(populate_channels);
		// django.jQuery('select#id_0-chan').change(preview_values);
	});
	function populate_interfaces() {
		var type = django.jQuery('select#id_0-input_types_field').val();
		var field = django.jQuery('select#id_0-input_stream');
		field.attr("disabled", "disabled");
		field.empty();
		if (type) {
			var query = '{% url tv.views.input_list_interfaces %}' + '?type=' + type;
			django.jQuery.get(query, function(data) {
				if (data) {
					field.append(data);
					var iface = "{{ original.interface.pk }}";
					if (iface)
						field.val(iface);
				}
				field.removeAttr("disabled");
			});
		}
	}
	function populate_demux() {
		var type = django.jQuery('select#id_0-input_types_field').val();
		var entrada = django.jQuery('select#id_0-input_stream').val();
		var field = django.jQuery('select#id_0-demuxed_input');
		field.attr("disabled", "disabled");
		field.empty();
		if (entrada) {
			var query = '{% url tv.views.get_demux_input_list %}' + '?entrada=' + entrada + '&type=' + type;
			django.jQuery.get(query, function(data) {
				if (data) {
					field.append(data);
					var iface = "{{ original.interface.pk }}";
					if (iface)
						field.val(iface);
				}
				field.removeAttr("disabled");
			});
		}
	}
</script>

<div id="content-main">
	<form {% if form.form.is_multipart %}enctype="multipart/form-data" {% endif %}method="post" action="" id="{{ opts.module_name }}_form">
		{% csrf_token %}
		<div>
			{% if form.form.errors %}
			<p class="errornote">
				{% blocktrans count form.form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
			</p>
			<ul class="errorlist">
				{% for error in form.form.non_field_errors %}
				<li>
					{{ error }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% for fieldset in form %}
			{% include "admin/includes/fieldset.html" %}
			{% endfor %}

			<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
			{{ previous_fields|safe }}

			<div class="submit-row">
				<input type="submit" value="{% ifequal step step_count %}Finalizar{% else %}Próximo &raquo;{% endifequal %}" class="default" name="_save" />
				{% ifequal step 1 %}{% else %}
				<input type="button" class="default" value="Anterior" onClick="history.go(-1);return true;">
				{% endifequal %}
			</div>

			<script type="text/javascript">
				document.getElementById("{{ form.first_field.auto_id }}").focus();
			</script>

		</div>
	</form>
</div>
{% endblock %}
