{% extends "admin/change_form.html" %}

{% block extrahead %}

	{{ block.super }}
	
	<script type="text/javascript">
		django.jQuery(document).ready(function () {
			populate_adapters();
			/* Insert the auto-fill hyperlink */
			{% url device.views.auto_fill_tuner_form ttype='dvbs' as the_url %}
			var hyperlink = django.jQuery('<br /><a href="{{ the_url }}">( Auto preencher )</a>');
			hyperlink.appendTo(django.jQuery('div.form-row.field-frequency p.help'));
			hyperlink.click( function () {
				return showAutoFillPopup(this);
			});
			/* Insert the onchange callbacks */
			django.jQuery('select#id_server').change(populate_adapters);
		});
        /* Get free adapters list from server and populate the select field */ 
        function populate_adapters()
        {
            var server_id = django.jQuery('select#id_server').val();
            var field = django.jQuery('select#id_adapter');
            field.attr("disabled", "disabled");
            field.empty();
            if (server_id) {
                var query =  '{% url device.views.server_list_dvbadapters %}';
                query += '?server=' + server_id + '&type=dvb';
                django.jQuery.get(query, function(data) {
                    if (data) field.append(data);
                    // Pre select the last chosen value
                    var adapter = '{{ original.adapter }}';
                    if (adapter) field.val(adapter);
                    field.removeAttr("disabled");
              	});
            }
        }
		
		function showAutoFillPopup(link)
		{
			var win = window.open(link, 'name', 'height=400,width=400,resizable=yes,scrollbars=yes');
			win.focus(); 
			return false;
		}
		
		function dismissAutoFillPopup(win, freq, sr, pol, mod, fec)
		{
			django.jQuery('input#id_frequency').val(freq);
			django.jQuery('input#id_symbol_rate').val(sr);
			django.jQuery('select#id_modulation').val(mod);
			django.jQuery('select#id_polarization').val(pol);
			// Remove the slash from FEC
			fec = fec.replace(/\//, '');
			if (isNaN(fec)) fec = '0';
			django.jQuery('select#id_fec').val(fec);
			win.close();
		}
	</script>
	
{% endblock %}
