{% extends "canal/base.html" %}
{% load i18n %}


{% block principal %}
Criando um novo canal:
<form action="{% url canal_edit canal.id %}" method="post" enctype="multipart/form-data" >{% csrf_token %}
	{% for field in form %}
	<p>
	{{ field.label_tag }} : {{ field }}
	{% if field.name == 'logo' and form.instance.thumb %}<img alt="Thumb" src="{{canal.thumb.url}}" /> {% endif %}
	{% if field.errors %}
		<span class="fielderror"> {% for error in field.errors %} {{ error }} &nbsp; {% endfor %} </span>
	{% endif %}
	</p>
	{% endfor %}
	{% for err in form.non_field_errors %}
		<div class="error">{{ err }}</div>
	{% endfor %}
	<p>
		<input type="submit" value="Salva" />
		<input type="button" value="Cancela" onclick="javascript: window.location.href='{% url canal_index %}';" />
	</p>
</form>
{% endblock principal %}