{% extends "canal/base.html" %}
{% load i18n %}

{% block principal %}
Lista de canais:
<div class="lista canais">
{% for canal in canais %}
<div class="canal"><img class="logo" alt="Logo" src="{{ canal.thumb.url }}" />
<div class="infos">
<div class="nome">Nome: {{ canal.nome }}</div>
<div class="numero">Número: {{ canal.numero }}</div>
<div class="descricao">Descrição: {{ canal.descricao }}</div>
<div class="controles"><a href="{% url canal_edit canal.id %}">Edita</a></div>
<div class="controles"><a onclick="return confirm('Confirma excluir o canal?\nEsta modificação não poderá ser revertida.');" href="{% url canal_delete canal.id %}">Remove</a></div>
</div>
</div>
{% endfor %}
Adiciona: <a href="{% url canal_add %}">{% trans "Novo Canal" %} </a>
</div>

{% endblock principal %}
