# It's not recommended to modify this file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the
# best way is to create a file "/etc/systemd/system/postgresql.service",
# containing
#	.include /lib/systemd/system/postgresql.service
#	...make your changes here...
# For more info about custom unit files, see
# http://fedoraproject.org/wiki/Systemd#How_do_I_customize_a_unit_file.2F_add_a_custom_unit_file.3F

# For example, if you want to change the server's port number to 5433,
# create a file named "/etc/systemd/system/postgresql.service" containing:
#	.include /lib/systemd/system/postgresql.service
#	[Service]
#	Environment=PGPORT=5433
# This will override the setting appearing below.

.include /lib/systemd/system/postgresql.service
[Unit]
Description=IPTV PostgreSQL database

[Service]
Environment=PGDATA=/iptv/var/lib/postgresql
