## System - IPTV
[Unit]
Description=Site IPTV - Cianet
DefaultDependencies=no
Requires=postgresql_iptv.service
Requires=memcached.service
Requires=site_iptv_celery.service
After=network.target
After=postgresql_iptv.service

[Service]
Type=forking
User=nginx
Group=nginx
EnvironmentFile=/etc/sysconfig/site_iptv

PIDFile=${PID_FILE}

ExecStart=/usr/bin/python ${PROJECT_PATH}manage.py runfcgi --settings=${SETTINGS} daemonize=true maxchildren=${MAXCHILDREM} maxspare=${MAXSPARE} minspare=${MINSPARE} method=prefork socket=${SOCKET_FILE} pidfile=${PID_FILE}
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
