[Unit]
Description=Site IPTV Celery - Cianet
DefaultDependencies=no
Requires=redis.service
After=network.target

[Service]
Type=oneshot
KillMode=control-group
RemainAfterExit=yes
Restart=no
User=nginx
Group=nginx
EnvironmentFile=/etc/sysconfig/site_iptv

ExecStart=/usr/bin/python ${PROJECT_PATH}manage.py celeryd_multi start w1 -l ${CELERY_LOG_LEVEL} --settings=${SETTINGS} --pidfile=${CELERY_PID_FILE} --logfile=${CELERY_LOG_FILE}
ExecStop=/usr/bin/python ${PROJECT_PATH}manage.py celeryd_multi stopwait w1 --pidfile=${CELERY_PID_FILE}

[Install]
WantedBy=multi-user.target
