## System - IPTV
[Unit]
Description=Site IPTV Celery - Cianet
DefaultDependencies=no
Requires=redis.service
After=network.target

[Service]
Type=forking
User=nginx
Group=nginx
EnvironmentFile=/etc/sysconfig/site_iptv

PIDFile=${CELERY_PID_FILE}

ExecStart=/usr/bin/python ${PROJECT_PATH}manage.py celeryd -l ${CELERY_LOG_LEVEL} --settings=${SETTINGS} --pidfile=${CELERY_PID_FILE}
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
